.container-search {
	padding-left: 20px;
	padding-right: 20px;
}

.wrapper {
	width: 100%;
}
.wrapper:after {
	content: '';
	display: block;
	clear: both;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 10px;
	column-fill: auto;
}

.pin {
  	float: left;
	width: 32%;
	min-width: 415px;
	margin-right: 10px;
}

/*.pin img {
	max-width: 100%;
	height: auto;
	position: relative;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
	opacity: 1;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}*/

/* Responsive Design Like Masonry */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 779px) {
	#columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

@media only screen and (min-width : 780px) and (max-width : 799px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media only screen and (min-width : 800px) and (max-width : 814px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 815px) and (max-width : 1099px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

/*@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}*/

.pin:hover img {
	cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}