/* ** Reset **
   ================================================== */
html
{
    margin: 0;
    padding: 0;
    border: 0;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section
{
    display: block
}
body
{
    line-height: 1.5;
    background: white;
}
table
{
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td
{
    text-align: left;
    font-weight: normal;
    float: none !important;
}
table, th, td
{
    vertical-align: middle
}
blockquote:before, blockquote:after, q:before, q:after
{
    content: ''
}
blockquote, q
{
    quotes: "" ""
}
a img
{
    border: none
}
img
{
    display: block
}
:focus
{
    outline: 0
}
/* ** Typography **
   ================================================== */
html
{
    font-size: 100.01%
}
body
{
    -webkit-font-smoothing: antialiased!important;
    font: 13px/20px!important;
    color: #555555!important;
    background-color: #c3092d!important;
    font-family: 'Nobile', Helvetica, Arial, sans-serif!important;
}
a{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
/* ** Headings **
   ================================================== */
h1, h2, h3, h4, h5, h6
{
    font-family: 'Corben', Georgia, Times, serif!important;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    font-style: normal;
    color: #76bbd2;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img
{
    margin: 0
}
/* ** Text elements **
   ================================================== */
p
{
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 25px;
    margin: 0 0 1.5em;
}
p .left
{
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
p .right
{
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}
a:focus, a:hover
{
    color: #09f
}
a
{
    color: #06c;
    text-decoration: underline;
}
blockquote
{
    margin: 1.5em;
    color: #666;
    font-style: italic;
}
strong, dfn
{
    font-weight: bold
}
em, dfn
{
    font-style: italic
}
sup, sub
{
    line-height: 0
}
abbr, acronym
{
    border-bottom: 1px dotted #666
}
address
{
    margin: 0 0 1.5em;
    font-style: italic;
}
del
{
    color: #666
}
pre
{
    margin: 1.5em 0;
    white-space: pre;
}
pre, code, tt
{
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
}
/* ** Lists **
   ================================================== */
li ul, li ol
{
    margin: 0
}
ul, ol
{
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em;
}
li
{
    display: inline-block
}
ul
{
    list-style: none
}
ol
{
    list-style-type: decimal
}
dl
{
    margin: 0 0 1.5em 0
}
dl dt
{
    font-weight: bold
}
dd
{
    margin-left: 1.5em
}
/* ** Misc classes **
   ================================================== */
.small
{
    font-size: .8em;
    margin-bottom: 1.875em;
    line-height: 1.875em;
}
.large
{
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em;
}
.hide
{
    display: none
}
.quiet
{
    color: #666
}
.loud
{
    color: #000
}
.highlight
{
    background: #ff0
}
.added
{
    background: #060;
    color: #fff;
}
.removed
{
    background: #900;
    color: #fff;
}
.first
{
    margin-left: 0;
    padding-left: 0;
}
.col-info .last
{
    margin-right: 0
}
.top
{
    margin-top: 0;
    padding-top: 0;
}
.bottom
{
    margin-bottom: 0;
    padding-bottom: 0;
}
.main-content
{
    background: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    padding: 6px;
    position: relative;
    top: 300px;
    z-index: 5;
}
.top
{
    background-image: url(../img/top.png);
    height: 71px;
    width: 795px;
    position: absolute;
    left: -82px;
}
#error
{
    color: #fff;
    text-shadow: 3px 2px 2px #b54b4b;
    position: absolute;
    font-size: 47px;
    font-family: 'Corben', Georgia, Times, serif;
    top: -90px;
    overflow: visible;
    padding: 0;
    margin: 0;
    -webkit-animation: main-tetx-animation 2s 1 ease-out;
    -moz-animation: main-tetx-animation 2s 1 ease-out;
    -o-animation: main-tetx-animation 2s 1 ease-out;
    -ms-animation: main-tetx-animation 2s 1 ease-out;
    animation: main-tetx-animation 2s 1 ease-out;
}
@-webkit-keyframes main-tetx-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    top: -90px
	}
}
@-moz-keyframes main-tetx-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    top: -90px
	}
}
@-o-keyframes main-tetx-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    top: -90px
	}
}
@-ms-keyframes main-tetx-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    top: -90px
	}
}
@keyframes main-tetx-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    top: -90px
	}
}
/* ** Menu **
   ================================================== */
#main-nav ul
{
    font-family: 'Corben',Georgia,Times,serif;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 640px;
    padding: 0 0 0 108px;
    -webkit-animation: menu-animation 3s 1 ease-out;
    -moz-animation: menu-animation 3s 1 ease-out;
    -o-animation: menu-animation 3s 1 ease-out;
    -ms-animation: menu-animation3s 1 ease-out;
    animation: menu-animation 3s 1 ease-out;
}
#main-nav li
{
    float: left;
    display: inline;
    margin: 0;
}
#main-nav a:link, #main-nav a:visited
{
    color: #732710;
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    font-size: 22px;
    line-height: 46px;
}
#main-nav a:hover, #main-nav a:active, #main-nav .active a:link, #main-nav .active a:visited
{
    color: #fff;
    text-decoration: underline;
}
@-webkit-keyframes menu-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    opacity: 1
	}
}
@-moz-keyframes menu-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    opacity: 1
	}
}
@-o-keyframes menu-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    opacity: 1
	}
}
@-ms-keyframes menu-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    opacity: 1
	}
}
@keyframes menu-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    opacity: 1
	}
}
.page-content
{
    padding: 90px 20px 20px;
    -webkit-animation: page-content-animation 5s 1 ease-out;
    -moz-animation: page-content-animation 5s 1 ease-out;
    -o-animation: page-content-animation 5s 1 ease-out;
    -ms-animation: page-content-animation 5s 1 ease-out;
    animation: page-content-animation 5s 1 ease-out;
}
.social-share
{
    bottom: 25px;
    padding: 5px 0;
    position: absolute;
    right: 20px;
}
input.placeholder
{
    color: #343434;
    font-size: 15px;
    font-weight: bold;
}
@-webkit-keyframes page-content-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    opacity: 1
	}
}
@-moz-keyframes page-content-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    opacity: 1
	}
}
@-o-keyframes page-content-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    opacity: 1
	}
}
@-ms-keyframes page-content-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    opacity: 1
	}
}
@keyframes page-content-animation
{ 
	0%
	{
	    top: 0px;
	    opacity: 0;
	}
	20%
	{
	    opacity: 0
	}
	100%
	{
	    opacity: 1
	}
}
.social li
{
    display: inline;
    float: left;
    background-repeat: no-repeat;
}
.social li a
{
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    text-decoration: none;
}
.social li a strong
{
    font-weight: normal;
    position: absolute;
    left: 20px;
    top: -1px;
    color: #fff;
    padding: 3px;
    z-index: 9999;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.7);
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
li.digg
{
    background-image: url("../img/digg.png")
}
li.facebook
{
    background-image: url("../img/facebook.png")
}
li.flickr
{
    background-image: url("../img/flickr.png")
}
li.twitter
{
    background-image: url("../img/twitter.png")
}
#css3:hover li
{
    opacity: 0.2
}
#css3 li
{
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 500ms;
    -moz-transition-property: opacity;
    -moz-transition-duration: 500ms;
}
#css3 li a strong
{
    opacity: 0;
    -webkit-transition-property: opacity, top;
    -webkit-transition-duration: 300ms;
    -moz-transition-property: opacity, top;
    -moz-transition-duration: 300ms;
}
#css3 li:hover
{
    opacity: 1
}
#css3 li:hover a strong
{
    opacity: 1;
    top: -10px;
}
form
{
    margin: 0!important
}
.form-search
{
    padding: 16px 0 0 0
}